name: SBOMer UI CI/CD Pipeline

on:
    push:
        branches: [main]

env:
    REGISTRY: quay.io
    UI_IMAGE: sbomer/ui
    HELM_CHART: ui-chart
    HELM_REPO: oci://quay.io/sbomer

jobs:
    build-ui:
        name: Build UI Handler
        runs-on: ubuntu-22.04
        permissions:
            contents: read
            packages: write
            id-token: write

        outputs:
            image: "${{ env.REGISTRY }}/${{ env.UI_IMAGE }}"
            digest: ${{ steps.push.outputs.digest }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Get short SHA
              id: sha
              run: echo "sha=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "npm"
                  cache-dependency-path: "ui/package-lock.json"

            - name: Install Dependencies
              run: npm ci
              working-directory: ./ui

            - name: Build Typescript UI
              run: npm run build
              working-directory: ./ui

            - name: Build Image
              id: build-image
              uses: redhat-actions/buildah-build@v2
              with:
                  image: ${{ env.UI_IMAGE }}
                  tags: latest ${{ steps.sha.outputs.sha }}
                  containerfiles: |
                      ./images/sbomer-ui/Containerfile

            - name: Push To quay.io
              id: push
              uses: redhat-actions/push-to-registry@v2
              with:
                  image: ${{ steps.build-image.outputs.image }}
                  tags: ${{ steps.build-image.outputs.tags }}
                  registry: ${{ env.REGISTRY }}
                  username: ${{ secrets.QUAY_USERNAME }}
                  password: ${{ secrets.QUAY_TOKEN }}

    provenance:
        needs: [build-ui]
        permissions:
            actions: read
            id-token: write
            packages: write
        uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
        with:
            image: ${{ needs.build-ui.outputs.image }}
            digest: ${{ needs.build-ui.outputs.digest }}
        secrets:
            registry-username: ${{ secrets.QUAY_USERNAME }}
            registry-password: ${{ secrets.QUAY_TOKEN }}

    publish-chart:
        name: Publish Helm Chart
        runs-on: ubuntu-22.04
        needs: [provenance]

        permissions:
            contents: read
            packages: write
            id-token: write

        steps:
            - uses: actions/checkout@v4

            - name: Install Helm
              uses: azure/setup-helm@v4
              with:
                  version: "latest"

            - name: Install Cosign
              uses: sigstore/cosign-installer@v3.8.2

            - name: Get short SHA
              id: sha
              run: echo "sha=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

            - name: Package Helm Chart
              run: |
                  # Use Run Number for SemVer (0.1.x)
                  # Use Git SHA for AppVersion (matches the images we just built)

                  helm package helm/${{ env.HELM_CHART }} \
                    --destination . \
                    --version "0.1.${{ github.run_number }}" \
                    --app-version "${{ steps.sha.outputs.sha }}"

            - name: Login to Quay (Helm)
              run: echo "${{ secrets.QUAY_TOKEN }}" | helm registry login quay.io --username "${{ secrets.QUAY_USERNAME }}" --password-stdin

            - name: Push Chart
              run: helm push ${{ env.HELM_CHART }}-*.tgz ${{ env.HELM_REPO }}

            - name: Login to Quay (Cosign)
              run: echo "${{ secrets.QUAY_TOKEN }}" | cosign login quay.io --username "${{ secrets.QUAY_USERNAME }}" --password-stdin

            - name: Sign Helm Chart
              run: |
                  # Define variables
                  CLEAN_REPO="${HELM_REPO#oci://}"
                  CHART_NAME="${{ env.HELM_CHART }}"
                  CHART_VERSION="0.1.${{ github.run_number }}"
                  FULL_IMAGE_REF="$CLEAN_REPO/$CHART_NAME:$CHART_VERSION"

                  DIGEST=$(skopeo inspect docker://$FULL_IMAGE_REF | jq -r '.Digest')
                  echo "Found Digest: $DIGEST"

                  # Construct the URI using the Digest (@sha256:...) instead of the Tag (0.1.x)
                  CHART_URI_DIGEST="$CLEAN_REPO/$CHART_NAME@$DIGEST"

                  echo "Signing $CHART_URI_DIGEST ..."

                  cosign sign -y \
                    -a "repo=${{ github.repository }}" \
                    -a "workflow=${{ github.workflow }}" \
                    -a "sha=${{ github.sha }}" \
                    "$CHART_URI_DIGEST"
