name: Build and Push UI Image to Quay.io
on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build and Push Image
    runs-on: ubuntu-22.04

    env:
      REGISTRY: quay.io
      IMAGE_NAME: sbomer/ui

    permissions:
      contents: read
      packages: write

    outputs:
      image: "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}"
      digest: ${{ steps.push-to-quay.outputs.digest }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Get short SHA
        id: sha
        run: echo "sha=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT


      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: 'ui/package-lock.json'

      - name: Install Dependencies
        run: npm ci
        working-directory: ./ui

      - name: Build Typescript UI
        run: npm run build
        working-directory: ./ui

      - name: Build Image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: latest ${{ steps.sha.outputs.sha }}
          containerfiles: |
            ./images/sbomer-ui/Containerfile

      - name: Push To quay.io
        id: push-to-quay
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Print image url
        run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"
