name: UI Build Check

on:
  pull_request:
    branches: [ "main" ]


jobs:
  build:
    name: Build and Verify
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./ui

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: ui/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run Build
        run: npm run build
